.chessboard {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
}

h2 {
	color: #e5d542;
	text-align: center;
}

.square {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.light {
	background-color: #f0d9b5;
}

.dark {
	background-color: #b58863;
}

.valid-move {
	background-image: url(../assets/valid.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
}

.capture-move {
	background-image: url(../assets/capture.png);
	background-size: 23px 23px;
	background-repeat: no-repeat;
	background-position: center;
}

.invalid {
	color: #ff0000 !important;
	text-align: center;
}

.white-turn {
	color: #ffffff !important;
}

.black-turn {
	color: #000000 !important;
}
